# vscode files
.vscode/

# venv folder
venv/

# env files
*.env

# mypy cache
.mypy_cache/

# pycache
__pycache__/

# pem files
*.pem

# terraform files
*.terraform/
*.terraform.lock.hcl
*.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# docker sh files
docker-pull.sh

# txt files
*.txt